@use 'sass:math';
@import '~src/assets/scss/variables';

:host {
  .address-col {
    min-width: 130px;
  }
  .actions {
    display: flex;
    margin: math.div(-$module-rem, 4);

    .tc-btn {
      margin: math.div($module-rem, 4);
      //line-height: 3;
    //  margin-bottom: 2rem;
      //align-items: center; /* Align buttons vertically */
      //gap: 0.5rem;
    }
    
  }
  
  .table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3;
  }
 
  
  .align-center {
    text-align: center;
  }
}
