<tc-card class="mb-0">
  <tc-table [rows]="appointments" [hovered]="true" [pagination]="true">
    <tc-table-col [columnTitle]="'Photo'" [columnName]="'img'">
      <ng-template #tableTDTemplate let-value>
        <div *ngFor="let seance of seance " class="table-cell">
        <tc-avatar [src]="value"></tc-avatar>
      </div>
      </ng-template>
      <tc-table-col [columnTitle]="' Date'" [columnName]="'date'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <div *ngFor="let seance of seance " class="table-cell">
          <span class="nowrap" [tcColor]="'#a5a5a5'">{{ seance.date | date: 'dd/MM/yyyy' }}</span>
        </div>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'Start Date'" [columnName]="'Sdate'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <div *ngFor="let seance of seance " class="table-cell">
          <span class="nowrap" [tcColor]="'#a5a5a5'">{{ seance.patient.priseEnCharges[seance.patient.priseEnCharges.length - 1].startDate| date: 'dd/MM/yyyy'}}</span>
        </div>
        </ng-template>
      </tc-table-col>
      <tc-table-col [columnTitle]="'End Date'" [columnName]="'Edate'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <div *ngFor="let seance of seance " class="table-cell">
          <span class="nowrap" [tcColor]="'#a5a5a5'">{{ seance.patient.priseEnCharges[seance.patient.priseEnCharges.length - 1].endDate| date: 'dd/MM/yyyy'}}</span>
        </div>
        </ng-template>
      </tc-table-col>
    </tc-table-col>
    <tc-table-col [columnTitle]="'SeanceDays/week'" [columnName]="'seanceDays'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <div *ngFor="let seance of seance " class="table-cell">
        <strong>{{ seance.patient.seanceDays}}</strong>
      </div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Patient'" [columnName]="'patientName'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <div *ngFor="let seance of seance " class="table-cell">
        <strong>{{seance.patient.user.firstName }} {{ seance.patient.user.lastName }} </strong>
      </div>
      </ng-template>
    </tc-table-col>
    <!-- <tc-table-col [columnTitle]="'PatientLastName'" [columnName]="'PatientLastName'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <div *ngFor="let seance of seance " class="table-cell">
        <strong>{{ seance.patient.user.lastName }}</strong>
      </div>
      </ng-template>
    </tc-table-col> -->

    
    <tc-table-col [columnTitle]="'PatientLogin'" [columnName]="'PatientLogin'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <div *ngFor="let seance of seance " class="table-cell">
        <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
          <tc-icon [iconClass]="'icofont-ui-email'" [tcFontSize]="16" [padding]="0" class="me-1"></tc-icon> {{ seance.patient.user.login }}
        </span>
      </div>
      </ng-template>
    </tc-table-col>
 

    <tc-table-col [columnTitle]="'SeanceTypeName'" [columnName]="'SeanceTypeName'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <div *ngFor="let seance of seance " class="table-cell">
        <strong>{{ seance.seanceType.typeName }}</strong>
      </div>
      </ng-template>
    </tc-table-col>

    <!-- <tc-table-col [columnTitle]="'Visit time'" [columnName]="'fromTo'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Number'" [columnName]="'number'">
      <ng-template #tableTDTemplate let-value>
        <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
          <tc-icon [iconClass]="'icofont-ui-cell-phone'" [tcFontSize]="16" [padding]="0" class="me-1"></tc-icon>
          {{ value }}
        </span>
      </ng-template>
    </tc-table-col> -->

    <!-- <tc-table-col [columnTitle]="'Doctor'" [columnName]="'doctor'" [enableSorting]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'Injury / Condition'" [columnName]="'injury'" [enableSorting]="true"></tc-table-col> -->
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'" >
      <ng-template #tableTDTemplate let-row="row">
        <div *ngFor="let seance of seance " class="table-cell">
          <div class="actions" class="tc-btn">
          <!-- edit button ****** -->
          <!-- (click)="edit(row)" -->
          <!-- (click)="setSidToLocal(seance.id);openModal(modalBody, 'Update patient info', modalFooter, seance)" -->
          <button
            tc-button
            [afterIcon]="'icofont-ui-edit'"
            [view]="'info'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            
            (click)="setSidToLocal(seance.id);edit(seance)"
          ></button>

          <button
            tc-button
            [afterIcon]="'icofont-ui-delete'"
            [view]="'error'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="remove(seance.id)"
          ></button>
         </div>
      </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
</tc-card>

<div class="add-action-box">
  <button
    tc-button
    [afterIcon]="'icofont-stethoscope-alt'"
    [view]="'accent'"
    [square]="true"
    [tcShape]="500"
    (click)="isEditMode=false; openModal(modalBody, 'Add appointment', modalFooter)"
  ></button>
</div>

<!-- Modal window works on both edit and add :)-->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="appointmentForm" novalidate>
      <tc-form-group class="avatar-box d-flex">
        <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>

        <tc-avatar [src]="appointmentForm.value.img"></tc-avatar>
        <button tc-button [type]="'button'" [afterIcon]="'icofont-ui-user'" [view]="'accent'" [outline]="true" (click)="fileInput.click()">
          Select image
        </button>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'date'" formControlName="date" type="date"></tc-input>
      </tc-form-group>

      <tc-form-group >
        <!-- <tc-input [placeholder]="'SeanceTypeName'" formControlName="SeanceTypeName"></tc-input> -->
        <select formControlName="SeanceTypeName" style="background-color: #f2f2f2; border: 1px solid #b0b6bc; border-radius: 20px; padding: 8px; font-size: 14px; color: #525961; width: 100%;">
          <option value="">Select SeanceType</option>
          <option *ngFor="let seanceType of seancetype"[value]="seanceType.id" >{{ seanceType.typeName }}</option>
        </select>
      </tc-form-group>
      
      <tc-form-group>
        <!-- <tc-input [placeholder]="'patientn'" formControlName="patientn"></tc-input> -->
        <select formControlName="patientn" style="background-color: #f2f2f2; border: 1px solid #b0b6bc; border-radius: 20px; padding: 8px; font-size: 14px; color: #525961; width: 100%;">
          <option value="">Select Patient</option>
          <option *ngFor="let patient of patient" [value]="patient.id" >{{ patient.id }} - {{ patient.user.firstName }} {{ patient.user.lastName }} (@{{ patient.user.login }})</option>
        </select>
      </tc-form-group>


      <!-- <tc-form-group>
        <tc-autocomplete [placeholder]="'Doctor'" [data]="doctors" [key]="'name'" formControlName="doctor"></tc-autocomplete>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Email'" formControlName="email"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Date'" formControlName="date"></tc-input>
      </tc-form-group>

      <div class="row">
        <div class="col col-md-6">
          <tc-form-group>
            <tc-input [placeholder]="'Time from'" formControlName="from"></tc-input>
          </tc-form-group>
        </div>

        <div class="col col-md-6">
          <tc-form-group>
            <tc-input [placeholder]="'Time to'" formControlName="to"></tc-input>
          </tc-form-group>
        </div>
      </div>

      <tc-form-group>
        <tc-input [placeholder]="'Number'" formControlName="number"></tc-input>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <tc-input [placeholder]="'Injury'" formControlName="injury"></tc-input>
      </tc-form-group> -->
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
      <button tc-button [view]="'info'" [disabled]="appointmentForm.invalid" (click)="addAppointment(appointmentForm)">
        Add appointment
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->
